examples/node-red-flow.json
[
    {
        "id": "af7a7dab1c0180e8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "136c6fbf561ea096",
        "type": "mqtt in",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "json",
        "broker": "5eda87638feb3a41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "711676d9a9b1c2c8"
            ]
        ]
    },
    {
        "id": "38377bedf811e899",
        "type": "debug",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 180,
        "wires": []
    },
    {
        "id": "711676d9a9b1c2c8",
        "type": "http request",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.ipify.org?format=json\t",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "38377bedf811e899"
            ]
        ]
    },
    {
        "id": "b756441225a27369",
        "type": "http in",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "url": "/tryme",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 420,
        "y": 100,
        "wires": [
            [
                "38377bedf811e899",
                "762484e3548c7c35"
            ]
        ],
        "info": "words"
    },
    {
        "id": "46214396a347a554",
        "type": "http response",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "762484e3548c7c35",
        "type": "template",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!doctype html>\n<html lang='en'>\n<body>\n    <h1>we got some words here</h1>\n    <p>{{payload.payload}}</p>\n    <form method=\"post\" action=\"/trypost\">\n        <label for=\"name\">Name</label>\n        <input type=\"text\" name=\"name\"></input>\n        <label for=\"email\">email</label>\n        <input type=\"text\" name=\"email\"></input>\n        <button type=\"submit\">submit</button>\n    </form>\n</body>\n</html>",
        "output": "str",
        "x": 640,
        "y": 80,
        "wires": [
            [
                "46214396a347a554"
            ]
        ]
    },
    {
        "id": "c8d26d5e46de2dcc",
        "type": "mqtt out",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "topic": "testout",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5eda87638feb3a41",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "d6f589a01a9fa5b7",
        "type": "inject",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 380,
        "wires": [
            [
                "c8d26d5e46de2dcc",
                "2c0ca6050c2e28ee",
                "edb6fdca475f5607"
            ]
        ]
    },
    {
        "id": "c43b14eff19e7296",
        "type": "mqtt in",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "topic": "testout",
        "qos": "2",
        "datatype": "auto",
        "broker": "5eda87638feb3a41",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 810,
        "y": 120,
        "wires": [
            [
                "38377bedf811e899"
            ]
        ]
    },
    {
        "id": "3ee4d0d74161a222",
        "type": "http in",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "url": "/trypost",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 350,
        "y": 480,
        "wires": [
            [
                "c8d26d5e46de2dcc",
                "e38362fb0cfe07f0"
            ]
        ]
    },
    {
        "id": "e38362fb0cfe07f0",
        "type": "function",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 540,
        "wires": [
            [
                "38377bedf811e899",
                "2e6a24201ec19f13"
            ]
        ]
    },
    {
        "id": "ef4f180f6098715c",
        "type": "http response",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "2e6a24201ec19f13",
        "type": "template",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<div>\nHello {{payload.name}}!\n\nI can see that your email address is {{payload.email}}.\n</div>\n<div>\n    <a href=\"/tryme\">Go back</a>\n</div>",
        "output": "str",
        "x": 800,
        "y": 520,
        "wires": [
            [
                "ef4f180f6098715c"
            ]
        ]
    },
    {
        "id": "2c0ca6050c2e28ee",
        "type": "mqtt out",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "topic": "underdog_in",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5eda87638feb3a41",
        "x": 630,
        "y": 260,
        "wires": []
    },
    {
        "id": "edb6fdca475f5607",
        "type": "mqtt out",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "topic": "testmac",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5eda87638feb3a41",
        "x": 640,
        "y": 460,
        "wires": []
    },
    {
        "id": "378202dc5bcf2d7a",
        "type": "comment",
        "z": "af7a7dab1c0180e8",
        "name": "phone",
        "info": "",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "daa1d359726aaaca",
        "type": "comment",
        "z": "af7a7dab1c0180e8",
        "name": "macbook",
        "info": "",
        "x": 640,
        "y": 420,
        "wires": []
    },
    {
        "id": "bde4efcf3dfc5ab7",
        "type": "comment",
        "z": "af7a7dab1c0180e8",
        "name": "wintendo (this instance)",
        "info": "",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "3f97a4dc94ee820e",
        "type": "comment",
        "z": "af7a7dab1c0180e8",
        "name": "put our public ip into debug window",
        "info": "",
        "x": 440,
        "y": 160,
        "wires": []
    },
    {
        "id": "0982294fe7e3cda0",
        "type": "inject",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 80,
        "y": 300,
        "wires": [
            [
                "68aba218cd6c1ba4"
            ]
        ]
    },
    {
        "id": "68aba218cd6c1ba4",
        "type": "mqtt out",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5eda87638feb3a41",
        "x": 310,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b1482ad538407d5",
        "type": "inject",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 950,
        "y": 400,
        "wires": [
            [
                "ce9e28e9e40710dc",
                "38377bedf811e899"
            ]
        ]
    },
    {
        "id": "ce9e28e9e40710dc",
        "type": "mqtt out",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "topic": "esp32/output",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5eda87638feb3a41",
        "x": 1130,
        "y": 380,
        "wires": []
    },
    {
        "id": "99c9d3b5d5613552",
        "type": "inject",
        "z": "af7a7dab1c0180e8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 950,
        "y": 360,
        "wires": [
            [
                "ce9e28e9e40710dc",
                "38377bedf811e899"
            ]
        ]
    },
    {
        "id": "5eda87638feb3a41",
        "type": "mqtt-broker",
        "name": "",
        "broker": "10.0.0.13",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]